#banner-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

.container {
    width: 80%;
    margin: auto;
}

@media (max-width: 767.98px) {
    .container {
        width: 90%;
        margin: auto;
    }
}