.container-rating {
    display: flex;
    align-items: center;
    width: 100%;
}

.span-rating {
    height: 15px;
    margin-right: 0.412rem;
}

/*** MEDIA QUERIES ***/
@media (min-width: 767.98px) {
    .span-rating {
        width: 24.75px;
        height: 24px;
        margin-right: 0.2rem;
        margin-left: 0.753rem;
    }
}