#banner-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

#banner-text {
    z-index: 2;
    text-align: center;
    position: absolute;
    width: 80%;
    font-size: 48px;
    font-weight: 500;
    color: white;

}

.container {
    width: 80%;
    margin: auto;
}

#card-container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 1em;
}