.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0.344rem 0.719rem;

    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;

    text-align: left;
    color: #FFFFFF;
    background: #FF6060;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.span {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16px;
    margin-top: 0.4em;
}

.text {
    margin: 0.5em 0.5em 1em 0.5em;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    background: #F6F6F6;

    overflow: hidden;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
}

.rotateInvert {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}

.show {
    max-height: 40rem;
    transition: max-height 2500ms;
}

.hide {
    max-height: 0;
    transition: max-height 500ms;
}

/*** MEDIA QUERIES ***/
@media (max-width: 767.98px) {
    .button {
        font-size: 18px;
        padding: 0.4rem 1.15rem;
        line-height: 2.139rem;
    }

    .text {
        font-size: 15px;
    }

    .span img {
        width: 20px;
        padding: 0.2em;
    }
}

@keyframes fadeIn {
    0% {
        transform: scaleY(0);
        /* transform: translateY(-100px); */
        /* display: none; */
    }

    100% {
        transform: scaleY(1);
        /* transform: translateY(0); */
        /* display: block; */
    }
}