header {
    display: flex;
    margin: 5em;
    justify-content: space-between;
}

nav {
    margin: 1.6em 0;
}

a {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: none;
    margin-left: 3em;
    color: #FF6060;
    ;
}

a:hover {
    text-decoration: solid;
}

.sr-only {
    width: 0;
    height: 0;
    overflow: hidden;
}