header {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 5em;
    margin-bottom: 1em;
    justify-content: space-between;
}

header nav {
    margin: 1.6em 0;
}

header a {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
    margin-left: 3em;
}

.inactive {
    text-decoration: none;
}

header img {
    height: 4.2em;
}

.sr-only {
    width: 0;
    height: 0;
    overflow: hidden;
}

.noline {
    text-decoration: none;
}

/*** MEDIA QUERIES ***/
@media (max-width: 767.98px) {
    header {
        margin-top: 2em;
        width: 90%;
    }

    header img {
        height: 3em;
    }

    header a {
        font-size: 15px;
        text-transform: uppercase;
        margin-left: 2em;
    }

    header nav {
        margin: 0.7em 0 1.6em 0;
    }
}