#banner-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

#banner {
    width: 100%;
    filter: brightness(70%);
}

#banner-img {
    border-radius: 1em;
    width: 100%;
}

/*** MEDIA QUERIES ***/
@media (max-width: 767.98px) {
    #banner-img {
        Height: 111px;
    }

    #banner-container {
        width: 90%;
    }
}